
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de...</title>
    <link rel="stylesheet" href="~/Content/form.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="home-icon" onclick="window.location.href='/Home/Menu';">🏠</div>
            <div class="logo">
                Nana's Pastries

            </div>
            <div class="buttons">
                <button onclick="https://web.whatsapp.com/">📱</button>
                <button onclick="window.location.href = '/Home/Consultahisrepos';">🕒</button>
                <button onclick="window.location.href = '/Home/ConsulCarrito';">🛒</button>
                <button onclick="window.location.href ='/Home/Acercade';">ℹ️</button>
            </div>
        </div>
        <div class="content">
            <center>
                <p>La panadería surgió de una conversación con mi madre sobre emprender, a las dos nos llama mucho el hecho de hornear y decorar.</p>
                <p>Esta aplicación busca facilitar las órdenes de los clientes y al mismo tiempo crear un historial que más adelante se usará para sacar estadísticas de los productos.</p>
                <br /><br /><br /><br />
                <p>Desarrollado por Diana Aguilar Calderón</p>
                <p>Como proyecto de programación 5</p>
                <p>en la carrera de Tecnologías de Información en el Colegio Universitario de Cartago.</p>
                <p>En el segundo cuatrimestre del 2024.</p>
            </center>
        </div>
    </div>
</body>
</html>
