
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carrito</title>
    <link rel="stylesheet" type="text/css" href="~/Content/form.css">
</head>
<body>
    <div class="header">
        <div class="home-icon" onclick="window.location.href='/Home/Menu';">🏠</div>
        <div class="logo">
            Nana's Pastries
            <img scr="https://i.pinimg.com/736x/ab/c1/0b/abc10b8f1a21a828f918bad1b235c57f.jpg" />
        </div>
        <div class="buttons">
            <button onclick="https://web.whatsapp.com/">📱</button>
            <button onclick="window.location.href = '/Home/Consultahisrepos';">🕒</button>
            <button onclick="window.location.href = '/Home/ConsulCarrito';">🛒</button>
            <button onclick="window.location.href ='/Home/Acercade';">ℹ️</button>
        </div>
    </div>
    <divc class="content">
        <p>Su producto ha sido agregado, puedes cancelarlo en el apartado de carrito</p>
    </divc>
</body>
</html>
