
@{
    Layout = null;
}


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valide sus credenciales</title>
    <link rel="stylesheet" href="~/Content/login.css">
</head>
<body>

    <div class="container">
        <header>
            <h1>Nana's Pastries</h1>
            <p>Bienvenido/a, por favor ingrese sus datos</p>
        </header>
        <div class="login-form">
            <form method="post" action="/Home/Formdesbloqueo">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" name="idcliente" size="50">
                </div>
                <button type="submit">Comenzar desbloqueo</button>
            </form>
        </div>
    </div>
</body>
</html>

