
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 1 BD</title>
    <link rel="stylesheet" href="~/Content/menu.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Nana's Pastries</h1>
            <p>Selecione el servicio que desea</p>
            <div class="logo">
                <img sch="https://i.pinimg.com/736x/ab/c1/0b/abc10b8f1a21a828f918bad1b235c57f.jpg" />
            </div>
        </header>
        <div class="intro">
            <h2></h2>
        </div>
        <div class="main-content">
            <div class="content">
                <article>
                    <ul>
                        <li>
                            <a href="/home/Menurepos">Reposteria y Panaderia </a>
                            <br><br>
                        </li>
                        <li>
                            <a href="/home/Menucate">Servicio de Caterin</a>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</body>
</html>