@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valide sus credenciales</title>
    <link rel="stylesheet" href="~/Content/login.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="https://i.pinimg.com/736x/ab/c1/0b/abc10b8f1a21a828f918bad1b235c57f.jpg" alt="Logo de Nana's Pastries" />
                <h1>Nana's Pastries</h1>
            </div>
        </header>
        <div class="login-form">
            <form method="post" action="/Home/Onb3">
                <div class="form-group">
                    <label>Cuenta con la posibilidad de tener una mesa de repostería en tus eventos gracias a nuestro servicio de catering.</label>
                   <br /><br />
                         <label>También puede liberar su imaginación con nuestro servicio de pasteles personalizados.</label>
                </div>
                <button type="submit">➡️</button>
            </form>
        </div>
    </div>
</body>
</html>
