/* Variables */
:root {
	--primary-color: #ea4470; /* Pink */
	--secondary-color: #FFFFFF; /* White */
	--font-family: 'Press Start 2P', cursive;
}

/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family);
	background-color: var(--primary-color);
	background-image: url('https://i.pinimg.com/736x/ab/c1/0b/abc10b8f1a21a828f918bad1b235c57f.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--secondary-color);
}

.container {
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	background-color: var(--secondary-color);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: var(--primary-color);
	border-bottom: 1px solid var(--secondary-color);
}

.logo {
	display: flex;
	align-items: center;
}

	.logo img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-right: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 0;
}

p {
	font-size: 24px;
	margin-top: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: var(--primary-color);
	border-bottom: 1px solid var(--secondary-color);
}

	nav a {
		display: block;
		padding: 10px 20px;
		background-color: var(--primary-color);
		color: var(--secondary-color);
		border-radius: 10px;
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease-in-out;
	}

		nav a:hover {
			background-color: var(--secondary-color);
			color: var(--primary-color);
		}

.intro {
	padding: 20px;
	text-align: center;
	background-color: var(--primary-color);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

	.intro h2 {
		font-size: 48px;
		font-weight: bold;
		margin-bottom: 20px;
	}

.main-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.content {
	flex: 1;
	margin-left: 20px;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
	padding: 20px;
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

li {
	margin-bottom: 20px;
}

a {
	display: block;
	padding: 10px 20px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 10px;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

	a:hover {
		background-color: var(--secondary-color);
		color: var(--primary-color);
	}

@media (max-width: 768px) {
	.container {
